<a href="https://colab.research.google.com/github/REDOWAN038/basic-python/blob/main/panda_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

songs = {'Album' : ['Bat Out of Hell','Thriller','Back in Black','The Bodyguard'],
         'Released' : [1977,1982,1980,1992],
         'Length' : ['46:33','42:19','42:11','57:44']}

# creating a dataframe
songsFrame = pd.DataFrame(songs)
songsFrame.head()

             Album  Released Length
0  Bat Out of Hell      1977  46:33
1         Thriller      1982  42:19
2    Back in Black      1980  42:11
3    The Bodyguard      1992  57:44

In [18]:
# creating data frame from songsFrame

albumFrame = songsFrame[['Album']]
albumFrame.head()

             Album
0  Bat Out of Hell
1         Thriller
2    Back in Black
3    The Bodyguard

In [19]:
# songs released after 1979

df = songsFrame[songsFrame['Released']>=1980]
df.head()

           Album  Released Length
1       Thriller      1982  42:19
2  Back in Black      1980  42:11
3  The Bodyguard      1992  57:44

In [21]:
# saving as csv file
df.to_csv('new_songs.csv')

In [22]:
# how to read data from csv file

csv_path = 'new_songs.csv'
df = pd.read_csv(csv_path)
df.head()

   Unnamed: 0          Album  Released Length
0           1       Thriller      1982  42:19
1           2  Back in Black      1980  42:11
2           3  The Bodyguard      1992  57:44

In [27]:
# iloc() ---> you have to give index to access value
df.iloc[0,1]

'Thriller'

In [28]:
# loc() ---> you have to give row or coloumn name
# first parameter must be index name
df.loc[0,'Released']

1982

In [35]:
# return values in coloumn

df2 = df.loc[:, ['Album','Length']]
df2.head()

           Album Length
0       Thriller  42:19
1  Back in Black  42:11
2  The Bodyguard  57:44

In [39]:
df3 = df.iloc[0:2,0:2]
df3.head()

   Unnamed: 0          Album
0           1       Thriller
1           2  Back in Black

In [41]:
# giving your own index name

idx = ['one','two','three','four']
songsFrame.index = idx
songsFrame.head()

                 Album  Released Length
one    Bat Out of Hell      1977  46:33
two           Thriller      1982  42:19
three    Back in Black      1980  42:11
four     The Bodyguard      1992  57:44