In [2]:
import pandas as pd

In [3]:
temp_weather = pd.DataFrame({
 "city":["dhaka", "sylhet", "ctg"],
 "temperature":[30,32,34],
})
temp_weather

     city  temperature
0   dhaka           30
1  sylhet           32
2     ctg           34

In [4]:
hum_weather = pd.DataFrame({
 "city":["dhaka", "sylhet", "ctg"],
 "humidity":[68,65,70]
})
hum_weather

     city  humidity
0   dhaka        68
1  sylhet        65
2     ctg        70

In [6]:
# inner join

df = pd.merge(temp_weather, hum_weather, on="city")
df

     city  temperature  humidity
0   dhaka           30        68
1  sylhet           32        65
2     ctg           34        70

In [7]:
temp_weather = pd.DataFrame({
 "city":["dhaka", "sylhet", "ctg", "khulna"],
 "temperature":[30,32,34,28],
})
temp_weather

     city  temperature
0   dhaka           30
1  sylhet           32
2     ctg           34
3  khulna           28

In [8]:
hum_weather = pd.DataFrame({
 "city":["dhaka", "sylhet", "rajshahi"],
 "humidity":[68,65,70]
})
hum_weather

       city  humidity
0     dhaka        68
1    sylhet        65
2  rajshahi        70

In [9]:
df = pd.merge(temp_weather, hum_weather, on="city")
df

     city  temperature  humidity
0   dhaka           30        68
1  sylhet           32        65

In [10]:
# outer join

df = pd.merge(temp_weather, hum_weather, on="city", how="outer")
df

       city  temperature  humidity
0     dhaka         30.0      68.0
1    sylhet         32.0      65.0
2       ctg         34.0       NaN
3    khulna         28.0       NaN
4  rajshahi          NaN      70.0

In [11]:
# left join

df = pd.merge(temp_weather, hum_weather, on="city", how="left")
df

     city  temperature  humidity
0   dhaka           30      68.0
1  sylhet           32      65.0
2     ctg           34       NaN
3  khulna           28       NaN

In [12]:
# right join

df = pd.merge(temp_weather, hum_weather, on="city", how="right")
df

       city  temperature  humidity
0     dhaka         30.0        68
1    sylhet         32.0        65
2  rajshahi          NaN        70

In [13]:
# outer join

df = pd.merge(temp_weather, hum_weather, on="city", how="outer", indicator=True)
df

       city  temperature  humidity      _merge
0     dhaka         30.0      68.0        both
1    sylhet         32.0      65.0        both
2       ctg         34.0       NaN   left_only
3    khulna         28.0       NaN   left_only
4  rajshahi          NaN      70.0  right_only